---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Block from "@/components/Block.astro";
---

<BaseLayout title="About - Andrew Gilliland">
  <div class="px-8">
    <section class="mx-auto mb-10 mt-20 max-w-3xl">
      <h1 class="text-3xl font-bold capitalize text-gray-100 md:text-4xl">
        About
      </h1>
      <div class="mt-10 flex flex-col gap-8 lg:flex-row">
        <div class="flex flex-col gap-8 lg:w-1/2">
          <div
            class="flex items-center rounded-2xl border border-gray-700 bg-gray-900 px-4 py-10 md:p-10"
          >
            <h3 class="text-4xl font-medium text-white md:text-5xl">
              Developer.<br />Builder.<br />Learner.
            </h3>
          </div>
          <div
            class="flex items-center justify-center rounded-2xl border border-gray-700 bg-gray-900 p-8 lg:px-12 lg:py-10"
          >
            <div class="relative">
              <img
                class="mx-auto h-auto w-full rounded-full object-cover"
                src="/gus-christmas-1.jpeg"
                width="400"
                height="400"
                alt="Gus the Cat"
              />
              <div
                class="absolute -top-4 left-0 rounded-2xl border border-white bg-black px-6 py-4 sm:-left-8 sm:px-8"
              >
                <p class="m-0 text-xl font-medium text-white">
                  Gus
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-8 lg:w-1/2">
          <div
            class="flex items-center justify-center rounded-2xl border border-gray-700 bg-gray-900 p-8 lg:px-12 lg:py-10"
          >
            <div class="relative">
              <img
                class="mx-auto h-auto w-full rounded-full object-cover"
                src="/hank-kitchen-1.jpeg"
                width="400"
                height="400"
                alt="Hank the Dog"
              />
              <div
                class="absolute -bottom-2 left-0 rounded-2xl border border-white bg-black px-6 py-4 sm:-left-8 sm:px-6"
              >
                <p class="m-0 text-xl font-medium text-white">Hank</p>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-2 gap-8">
            <div
              class="flex items-center justify-center rounded-2xl border border-gray-700 bg-gray-900 p-4"
            >
              <img
                class="h-auto w-full rounded-xl object-cover"
                src="/hannah-andrew-1.jpeg"
                width="200"
                height="250"
                alt="Hannah and Andrew"
              />
            </div>
            <div
              class="flex items-center justify-center rounded-2xl border border-gray-700 bg-gray-900 p-4"
            >
              <img
                class="h-auto w-full rounded-xl object-cover"
                src="/bernie-kitchen-1.jpeg"
                width="200"
                height="250"
                alt="Bernie the Cat"
              />
            </div>
          </div>
          <div
            class="flex items-center rounded-2xl border border-gray-700 bg-gray-900 px-4 py-10 md:p-10"
          >
            <h3 class="text-4xl font-medium text-white md:text-5xl">
              Cats, code,<br />and Yacht Rock.
            </h3>
          </div>
        </div>
      </div>

      <div class="mt-10 grid gap-4 text-base text-white sm:gap-8">
        <p>
          Andrew is a community-taught full stack developer with a passion for
          continuous learning, strategic thinking, and thoughtful collaboration.
          He thrives in environments where he can explore new ideas, tackle
          complex challenges, and refine processes for lasting impact. In his
          spare time he helps organize meetups for <a
            class="text-emerald-400 hover:underline"
            href="https://www.blono.dev/"
          >
            Bloomington-Normal Developers
          </a>.
        </p>

        <p>
          Outside of software development, he enjoys fitness, nutrition,
          reading, drawing, grilling, woodworking, and tackling various home
          projects. When it&apos;s time to relax, you&apos;ll find him hanging
          out with his girlfriend Hannah, dog Hank, and cats Gus and Bernie,
          enjoying some Yacht Rock.
        </p>
      </div>

      <div class="mt-10 text-white">
        <h3 class="bg-white px-2 py-1 font-bold text-black">Technologies</h3>
        <div
          class="mt-2 flex flex-wrap items-center justify-center gap-4 font-mono text-sm sm:justify-between"
        >
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>Node.js</li>
          </ul>
          <ul>
            <li>Astro</li>
            <li>Next.js</li>
            <li>React Native</li>
            <li>Expo</li>
            <li>Bun</li>
          </ul>
          <ul>
            <li>AWS</li>
            <li>Vercel</li>
            <li>Cloudflare</li>
            <li>Netlify</li>
            <li>Fly.io</li>
          </ul>
          <ul>
            <li>MySQL</li>
            <li>PostgreSQL</li>
            <li>SQLite</li>
            <li>DynamoDB</li>
            <li>MongoDB</li>
          </ul>
          <ul>
            <li>Swift</li>
            <li>UIKit</li>
            <li>SwiftUI</li>
            <li>CoreML</li>
            <li>ARKit</li>
            <li>RealityKit</li>
          </ul>
        </div>

        <a href="/about/resume">
          <Block
            className="mt-8"
            backgroundColor="bg-pink-500"
            height="12"
            width="24"
            theme="dark"
          >
            Resume
          </Block>
        </a>
      </div>
    </section>
  </div>
</BaseLayout>
