---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const entry = await getEntry('resume', 'resume');
const { Content } = await render(entry!);
---

<BaseLayout title="Resume - Andrew Gilliland">
  <div class="px-8">
    <section class="mx-auto mb-10 mt-20 max-w-[60ch]">
      <h1 class="stroke-white text-3xl font-bold capitalize text-gray-100 md:text-4xl">
        Resume
      </h1>
      <article class="prose prose-invert mt-10">
        <Content />
      </article>
    </section>
  </div>
</BaseLayout>
