---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const articles = await getCollection("articles", ({ data }) => !data.draft);
  return articles.map((article) => ({
    params: { slug: article.id.replace(/\.mdx?$/, "") },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content, headings } = await render(article);
---

<BaseLayout title={`${article.data.title} - Andrew Gilliland`}>
  <div class="mx-auto my-14 min-h-screen w-full max-w-3xl px-8">
    <div class="mb-12">
      <a
        class="mt-4 flex items-center font-medium text-pink-400 hover:text-pink-300"
        href="/articles"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="18"
          height="18"
          fill="currentColor"
          class="mr-1.5"
        >
          <path d="m6 12 6 5v-4h6v-2h-6V7z"></path>
        </svg>
        Back to Articles
      </a>
    </div>
    <header class="mb-8">
      <h1 class="mb-4 text-[2.5rem] font-normal leading-[1.2] text-white">
        {article.data.title}
      </h1>
      <time class="text-lg text-gray-400">
        {
          article.data.date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
    </header>
    <article
      class="prose prose-invert mx-auto mt-8 max-w-3xl border-t border-white py-12"
    >
      <Content />
    </article>
  </div>
</BaseLayout>
