---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles", ({ data }) => !data.draft);
const sorted = articles.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<BaseLayout title="Articles - Andrew Gilliland">
  <div class="mx-auto mt-14 min-h-screen w-full max-w-3xl px-8">
    <header class="mb-8 border-b border-white pb-8 pt-10">
      <h1 class="text-[2.5rem] font-normal leading-[1.2] text-white">
        Articles
      </h1>
    </header>
    <section class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        sorted.map((article, index) => (
          <article class={index === 0 ? "sm:col-span-2" : ""}>
            <a
              class={`grid min-h-[220px] overflow-hidden rounded-lg border border-white bg-black text-white no-underline transition-all duration-200 ease-in-out hover:-translate-x-1 hover:-translate-y-1 hover:shadow-[3px_3px_#fff] ${index === 0 ? "min-h-[280px]" : ""}`}
              href={`/articles/${article.id.replace(/\.mdx?$/, "")}`}
            >
              <div class="flex h-full grow flex-col space-y-2 p-6">
                <h2 class="flex-none text-2xl leading-tight">
                  {article.data.title}
                </h2>
                <div class="flex-1" />
                <p class="flex-none text-sm text-gray-400">
                  {article.data.date.toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </p>
              </div>
            </a>
          </article>
        ))
      }
    </section>
  </div>
</BaseLayout>
