---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageLayout from "@/components/layouts/PageLayout.astro";
import FileViewWindow from "@/components/react/FileViewWindow";
import { getCollection } from "astro:content";

const notes = await getCollection("notes", ({ data }) => !data.draft);
---

<BaseLayout title="Notes - Andrew Gilliland">
  <PageLayout title="Notes">
    <div class="p-8">
      <FileViewWindow notes={notes} client:load />
    </div>
  </PageLayout>
</BaseLayout>
