---
interface Props {
  className?: string;
}

const { className = '' } = Astro.props;
---

<h1
  class={`stroke-white text-3xl font-bold capitalize text-gray-100 md:text-4xl ${className}`}
>
  <slot />
</h1>
