---
import { StarIcon } from '@heroicons/react/20/solid';

interface Props {
  color: string;
  Icon: any;
}

const { color, Icon } = Astro.props;
---

<div class="relative h-12 flex-1">
  <div class="absolute h-12 w-[42px] rounded bg-black"></div>
  <div
    class="absolute h-12 w-[42px] transform-gpu overflow-hidden rounded border-[1.5px] border-black transition hover:-translate-x-0.5 hover:-translate-y-0.5"
  >
    <div
      class="flex h-5 items-center justify-center border-b-[1.5px] border-black bg-gray-300"
    >
      <div
        class={`flex h-4 w-4 items-center justify-center rounded-full border border-black bg-${color}-500 p-0.5`}
      >
        <Icon className={`text-${color}-100 h-3 w-3`} />
      </div>
    </div>
    <div class="h-7 bg-white p-1">
      <div class="h-0.5 rounded-full bg-gray-300"></div>
      <div class="mt-1 h-0.5 w-2/3 rounded-full bg-gray-300"></div>
      <div class="mt-1 flex items-center justify-between">
        <StarIcon className="h-1.5 w-1.5 text-yellow-400" />
        <div class="h-1 w-3 rounded-full border border-black bg-pink-300"></div>
      </div>
    </div>
  </div>
</div>
