---
import { Rss } from "lucide-react";
import Block from "./Block.astro";
import ColorDivider from "./ColorDivider.astro";
import { socialLinks } from "@/lib/social";

const currentYear = new Date().getFullYear();
---

<ColorDivider className="h-6 w-full border-b-2 border-t-2 border-white" />
<footer
  class="flex flex-col items-center justify-center bg-black px-[10%] py-12 lg:flex-row lg:justify-between"
>
  <div class="text-white">ⓒ {currentYear} Andrew Gilliland</div>
  <div class="mt-6 flex items-center gap-10 lg:mt-0">
    {
      socialLinks.map(({ Icon, href, bgColor, title }) => (
        <a
          href={href}
          aria-label={title}
          target="_blank"
          rel="noopener noreferrer"
        >
          <Block className={`h-12 w-12 ${bgColor}`}>
            <Icon className="h-5 w-5 fill-white" />
          </Block>
        </a>
      ))
    }
    <a href="/rss.xml" aria-label="RSS Feed">
      <Block className="h-12 w-12 bg-yellow-500">
        <Rss className="h-5 w-5 text-white" />
      </Block>
    </a>
  </div>
</footer>
