---
import MobileNavbar from "./MobileNavbar.astro";
import DesktopNavbar from "./DesktopNavbar.astro";
import type { Page } from "@/types";

const pages: Page[] = [
  { href: "/", title: "Home" },
  { href: "/projects", title: "Projects" },
  { href: "/articles", title: "Articles" },
  { href: "/about", title: "About" },
];
---

<div class="relative bg-black">
  <MobileNavbar pages={pages} />
  <DesktopNavbar pages={pages} />
</div>
