---
import "@/styles/index.css";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Andrew Gilliland",
  description = "A community-taught Full Stack Developer.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=JetBrains+Mono:wght@100..800&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-brand">
    <Navbar />
    <main class="mb-10 flex min-h-screen flex-col bg-black pt-[82px] md:pt-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>
